body{background: linear-gradient(135deg, rgb(250, 152, 229), rgb(16, 223, 223), rgb(30, 218, 30))no-repeat center center fixed;
    }
.productos{float: left;
    margin-left: 7%; 
}


@font-face{
    font-family: "Gill Sans";
    src: url(gillsans.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
.producto{float:left;
	position: relative;
	margin-left: 10%;
	margin-top: 5%;
    z-index: -1;
}
.productos:hover .producto{z-index: 0;}		

.producto p{position: absolute;
	margin-left: 23%;
	color: black;
    font-family: "Gill Sans";
}
.producto p:hover{color: blue;
}	


.articulo{box-sizing: border-box;
	margin-bottom: 20px;
    border: 2px solid rgb(228, 10, 112);
    margin-left: 10%;
    margin-top: 2%;
    width: 154px;
    height: 154px; 
    transition: 1.5s, display 1s;
    font-size: 75%;
}

.articulo:hover{
    width: 70%;   
}
.descripcion{display: none;
    float: right;
    position: absolute;
    padding-left: 2%;
}
.precio{position: relative;
    float: right;
    display: none;}

.articulo:hover .descripcion{
        display: inline;
}
.articulo:hover .precio{
    transition-delay: 1s;
    display: inline;

}

/*Menu */
.MainMenu{
    display:inline;
    z-index: 2;
}

.ulMain{
        display: inline-flex;
        list-style-type: none;
        margin: auto;
        padding: 0.5em;
        width: 100%;
        font-size: 2em;
        
}


.ulMain li {
    
    padding: 1% ;
    background: #333;
    color: #eee;
    border-bottom: 0.01em solid #000;
    border-top: 0.01em solid #666;
    text-decoration: none;
    width: auto;
    height: 2em;

}

.ulMain li a{
    float:left;
    background: #333;
    color: #eee;
    text-decoration: none;
}

.norm{
    z-index: 0;
}

.ulMain .norm:hover{
    background-color: black;
}

.ulMain .norm:hover > a{
    background-color: black;
}


#menunoa{
    text-decoration: none;
    color:#eee;
    width: 7.813rem;
    }

    
#menunoa:hover{
    
    background-color: #000;
    }

#menunoa:hover .ulProduct li{
display:block;
font-size: 0.7em;
text-decoration: none;
color:white;
align-self: center;
width: 6.4em;
margin-left:-19%
}

.ulProduct li{
        display:none;
        
        background-color: #333;
        border:solid black 0.1em;
        width: auto;
    }


.ulProduct li:hover{
        
        
        background-color:black;
        
    }
.ulProduct li:hover > a{
        
        
        background-color:black;
        
    }

.ulProduct{
    margin-left: -25%;
    margin-top:15%;
}

/*#accesorios:hover{
    color:green;
}*/

.ulAc{
    display: none;
}

.ulAc li{

        display:none;
            
        background-color: #333;
        border:solid black 0.1em;
        width: auto;
        padding: 0.3em;
    
} 

.ulAc li a{
    width: 10em;}
    
#accesorios:hover .ulAc{
    display: inline-block;
    margin-left:97%;
    margin-right:-100%;
    margin-top:-165%;
    z-index: 0;
}   
#accesorios:hover .ulAc li{
    display:block;
    font-size: 0.7em;
    text-decoration: none;
    color:white;
    align-self: center;
    width: auto;

}
.ulElec{
    display: none;
}
.ulElec li{

    display:none;
    
    background-color: #333;
    border:solid black 0.1em;
    width: auto;
    padding-top: 0.8em;
    padding-left: 0.3em;
    padding-right: 0.3em;

}

.ulElec li a{
    width: 12em;
}

#teclados:hover .ulElec{
    display: inline-block;
    margin-left:101%;
    margin-right:-100%;
    margin-top:-129%;
    z-index: 0;
}   
#teclados:hover .ulElec li{
    display:block;
    font-size: 0.7em;
    text-decoration: none;
    color:white;
    align-self: center;
    width: auto;

}
.ulElec{
    display: none;
}
.ulElec li{

    display:none;
    
    background-color: #333;
    border:solid black 0.1em;
    width: auto;
    padding-top: 0.8em;
    padding-left: 0.3em;
    padding-right: 0.3em;

}



#organos:hover .ulOrg{
    display: inline-block;
    margin-left:105.5%;
    margin-right:-100%;
    margin-top:-93%;
    z-index: 0;
}   
#organos:hover .ulOrg li{
    display:block;
    font-size: 0.7em;
    text-decoration: none;
    color:white;
    align-self: center;
    width: auto;

}

.ulOrg{
    display: none;
}
.ulOrg li{

    display:none;    
    background-color: #333;
    border:solid black 0.1em;
    width: auto;
    padding-top: 0.9em;
    padding-left: 0.3em;
    padding-right: 0.3em;

}
.ulOrg li a{
    width: 14em;
}



#acordeones:hover .ulAcor{
    display: inline-block;
    margin-left:97%;
    margin-right:-100%;
    margin-top:-57%;
    z-index: 0;
}   
#acordeones:hover .ulAcor li{
    display:block;
    font-size: 0.7em;
    text-decoration: none;
    color:white;
    align-self: center;
    width: auto;

}

.ulAcor{
    display: none;
}
.ulAcor li{

    display:none;    
    background-color: #333;
    border:solid black 0.1em;
    width: auto;
    padding-top: 0.9em;
    padding-left: 0.3em;
    padding-right: 0.3em;

}
.ulAcor li a{
    width: 10em;
}

#pianos{
    margin-top:1.8em;
}
#pianos:hover .ulPianos{
    display: inline-block;
    margin-left:93%;
    margin-right:-100%;
    margin-top:-21%;
    z-index: 0;
}   
#pianos:hover .ulPianos li{
    display:block;
    font-size: 0.7em;
    text-decoration: none;
    color:white;
    align-self: center;
    width: auto;
    z-index: 2;
}

.ulPianos{
    display: none;
}
.ulPianos li{

    display:none;    
    background-color: #333;
    border:solid black 0.1em;
    width: auto;
    padding-top: 0.9em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    z-index: 2;

}
.ulPianos li a{
    width: 8em;
}



#space{
    width: 26%;
}
#primerli{
    background-color: #000;
}


/*Frame del Newsletter en Main*/
.frame{
    z-index: -1;
    border: 2px;
    border-style: solid;
    border-color:#D5CC5A;
    overflow: hidden;
    margin: 2em auto;
    width: 70%;
    max-width: 70%;
    display: block;
    margin-top: 70%;
    position:relative;
    left: 2%;
    right: 10%;
    top:70%;
    margin-top: 10%;

}

/*<div style="   ">
<scrolling="no" src="http://tools.dimpost.com/proxy-server.html" style=">
</iframe>
</div>*/
.frame{
    z-index: -1;
    border: 2px;
    border-style: solid;
    border-color:#D5CC5A;
    overflow: hidden;
    margin: 2em auto;
    max-width: 70%;
    position:absolute;
    left: 2%;
    right: 10%;
    top:70%;
    margin-top: 35%;

}

iframe{
    z-index: -1;
    border: 0px none; 
 
    height:45em; 
    margin-top:-14em; 
    width: 100%;
}

.cabeceraArticuloNewsletter{
    background-color: rgb(39, 72, 80);
    border-radius:1em;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    text-align: left;
    padding-left: 2em;
    margin-top:1em;
}

.SeccionNewsleter{
    background-color:rgb(188, 242, 255);
    border-radius:1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:auto;
    padding-bottom:2em;


}

#Caro{
  height:38em;  
}
#bloqueCaro{
    float:left;
    margin-left:2em;
    margin-right:1em;
    margin-bottom:1em;
}

.NewsTexto{
    margin-left:2em;
    margin-right:1em;
}
.caroHistoria{
    margin-right:1em;
}
.cursiva{
    font-style:italic;
}

section {
    display: block;
    
}

.botonCesta{
    margin-left:0%;
    float:right;
    display:none;

}
.articulo:hover .botonCesta{
display:inline;
margin-top:13%;
margin-left:20%;
}

#tablehead th{
    margin-left: 5em;
    padding-left: 5em;
}
#hiddenIndex{
    display:inline;
}

#botElim{
    width: 2em;
    height: 2em;
    opacity: 0.7;
}
#imgElim{
    border-style: solid;
    width: 1em;
    height: 1em;
    border-color:black;
    border-width: 0.1em;
    
}

footer{position: fixed;
}

.sprites li, .sprites a {
    height: 84px;
    list-style: none;	
}
.facebook {	
    left: 84px;
	width: 84px;
    background: url("https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png") 0 -84px;
}
.googleplus {	
	left: 168px;
	width: 84px;
    background: url("https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png") -252px -84px;
}
.in {	
	left: 252px;
	width: 84px;
    background: url("https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png") -336px -84px;
}
.twitter {	
	left: 334px;
	width: 84px;
    background: url("https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png") 252px -84px;
}
.youtube {	
    left: 418px;
	width: 84px;
    background: url("https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png") 84px -84px;
}